body {
    background-color: #0e0e0e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #202020;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #ff4655;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

h1, h2 {
    color: #ff4655;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 10px;
}